body {
    background-color: #352f5b;
    width: 600px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2 {
    text-align: center;
    color: #ffffff;
}

#search-box,
#add-todo {
    background-color: #00000033;
    width: 600px;
    color: #ffffff;
    font-size: 18px;
    height: 40px;
    margin-bottom: 40px;
}

.to-dos {
    color: #ffffff;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 40px;
    width: 580px;
    height: 40px;
    border: 1px solid #ffffff;
    margin: auto;
}

.del-todo {
    float: right;
}